:host {
  z-index: 2;
}

section {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 50px 30px 50px;
  height: 100%;
  margin: 0 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-top: 1px solid var(--secondary-color);
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
}

.content > div {
  height: 100%;
}

.content > div > h4 {
  margin: 0;
}

.content > div > p {
  text-align: center;
}

.content > div:nth-child(1) {
  padding-right: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content > div:nth-child(2) {
  border-left: 1px solid var(--tertiary-color);
  flex: 2;
  display: flex;
  flex-direction: column;
}

.confirmation-envoi {
  display: flex;
  flex-direction: column;
  align-items: center;
  &img {
    width: 50px;
  }
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: var(--secondary-color);
  animation: spin 2s linear infinite;
  &::before, &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
  }
  &::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: var(--tertiary-color);
    animation: spin 3s linear infinite;
  }
  &::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: var(--light-grey);
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

form > div:nth-child(2) {
  width: 60%;
}

form > div > span {
  display: flex;
  flex-direction: column;
}

form > div > span:has(textarea) {
  height: 100%;
}

form > div > span:has(button) {
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

form > div > span:has(button) > span {
  margin-right: 10px;
  font-size: 10pt;
}

input[type=text], input[type=email] {
  margin: 5px 0;
  border: 1px solid var(--tertiary-color);
  border-radius: 15px;
  height: 24px;
  padding: 2px 10px;
}

textarea {
  border: 1px solid var(--tertiary-color);
  border-radius: 15px;
  height: 100px;
  padding: 10px;
  resize: none;
}

input[type=text].champ-alerte,
input[type=email].champ-alerte,
textarea.champ-alerte {
  border: 1px solid var(--alert-color);
}

.alerte {
  color: var(--alert-color);
}

.message-error {
  display: flex;
  flex-direction: column;
  height: 0;
}

@media (max-width: 1023px) {
  .content {
    height: calc(100dvh - var(--hauteurIntro) - var(--hauteurCompetences) - var(--hauteurExperiences) - 40px);
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    margin-bottom: 30px;
  }

  .content > div {
    height: auto;
  }

  .content > div:nth-child(1) {
    margin: 0;
    padding: 0;
    flex: none;
  }

  .content > div:nth-child(2) {
    border-left: none;
  }

  form {
    flex-direction: column;
  }

  form > div:nth-child(2) {
    width: auto;
  }

  input[type=text]:not(input[id="objet"]), input[type=email] {
    width: 50%;
  }

}

@media (max-width: 767px) {
  section {
    padding: 0 20px 30px 20px;
  }
}

@media (max-height: 500px) and (pointer: coarse) {
  section {
    height: auto;
    border-top: none;
  }

  .content {
    height: auto;
  }
}
