:host {
  z-index: 1;
}

section {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0 50px 30px 50px;
  height: 100%;
  margin: 0 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.content {
  display: flex;
  width: 100%;
  padding-right: 10px;
  height: calc(100% - 90px);
  justify-content: space-between;
  align-items: stretch;
}

.content > app-carte-experience {
  display: flex;
  width: 100%;
}

.content > app-carte-experience:not(:last-child) {
  margin-right: 30px;
}

.fiche-poste {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1023px), (orientation: portrait) and (pointer: fine) {
  .content {
    overflow: auto;
    scrollbar-width: thin;
    flex-direction: column;
  }

  .content > app-carte-experience {
    margin: 0;
    margin-bottom: 20px;
  }

  .content > app-carte-experience:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  section {
    padding: 0 20px 30px 20px;
  }
}

@media (max-height: 500px) and (pointer: coarse) {
  .content {
    height: auto;
  }
}

