.main {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0 50px 30px 50px;
  height: 100%;
  margin: 0 20px;
  border-radius: 20px;
}

.experiences-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 90px - 110px - 180px);
  padding-right: 10px;
  margin-top: 10px;
}

.experiences {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  align-items: stretch;
}

.experiences > app-carte-experience {
  display: flex;
  width: 100%;
}

.experiences > app-carte-experience:not(:last-child) {
  margin-right: 30px;
}

.fiche-poste {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1023px) {
  .experiences-container {
    align-items: baseline;
    overflow: auto;
    scrollbar-width: thin;
  }

  .experiences {
    flex-direction: column;
  }

  .experiences > app-carte-experience {
    margin: 0;
    margin-bottom: 20px;
  }

  .experiences > app-carte-experience:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 0 20px 30px 20px;
  }
}

