.main {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px 50px;
}

.experiences {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.poste, .lieu {
  margin-bottom: 10px;
}
