<div class="main-background">
  <div class="main">
    <div class="photo-resume">
      <img src="\photos\photo_profil.jpg" alt="photo de profil"/>
      <p>{{ intro.resume }}</p>
    </div>
    <div class="main-infos-contact">
      <img src="\photos\photo_profil.jpg" alt="photo de profil"/>
      <div>
        <h1>{{ intro.nom }}</h1>
        <h2>{{ intro.titre }}</h2>
        <div class="localisation">{{ intro.localisation }}</div>
      </div>
      <div class="contact">
        <div><img src="\icons\position.png" alt="Icône position"/>{{ intro.localisation }}</div>
        <div><img src="\icons\phone.png" alt="Icône téléphone"/>{{ intro.disponibilites }}</div>
      </div>
    </div>
  </div>
  <div class="bouton-fenetre" (click)="changeOpenClose()">
    <img src="\icons\fleches.png" alt="Icône flèche" [@openClose]="openClose() ? 'down' : 'up'"/>
  </div>
</div>
