<div class="main-background">
  <div class="main">
    <img class="photo-profil" src="\photos\photo_profil.jpg" alt="photo de profil"/>
    <div class="main-infos-contact">
      <div class="main-infos">
        <h1>Boris CLAUDE</h1>
        <h2>Ingénieur logiciel</h2>
      </div>
      <div class="contact">
        <div><img src="\icons\phone.png" alt="Icône téléphone"/>(+33) 06 81 62 00 77</div>
        <div><img src="\icons\position.png" alt="Icône position"/>Saint Pierre - La Réunion</div>
      </div>
    </div>
  </div>
  <div class="bouton-fenetre" (click)="changeOpenClose()">
    <img src="\icons\fleches.png" alt="Icône flèche" [@openClose]="openClose() ? 'down' : 'up'"/>
  </div>
</div>
