<div class="main-background">
  <div class="main">
    <div class="photo_resume">
      <img class="photo-profil" src="\photos\photo_profil.jpg" alt="photo de profil"/>
      <p>{{ intro.resume }}</p>
    </div>
    <div class="main-infos-contact">
      <div class="main-infos">
        <h1>{{ intro.nom }}</h1>
        <h2>{{ intro.titre }}</h2>
      </div>
      <div class="contact">
        <div><img src="\icons\phone.png" alt="Icône téléphone"/>{{ intro.tel }}</div>
        <div><img src="\icons\position.png" alt="Icône position"/>{{ intro.localisation }}</div>
      </div>
    </div>
  </div>
  <div class="bouton-fenetre" (click)="changeOpenClose()">
    <img src="\icons\fleches.png" alt="Icône flèche" [@openClose]="openClose() ? 'down' : 'up'"/>
  </div>
</div>
