.circle-wrap {
  margin: 10px auto;
  width: 75px;
  height: 75px;
  background: var(--tertiary-color);
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 75px, 75px, 37.5px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 37.5px, 75px, 0px);
  background-color: #000;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: var(--degresPourcentage);
  }
}

.circle-wrap .inside-circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--primary-color);
  line-height: 54px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
}
