.main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  flex: 1 1 0;
    &:hover {
    box-shadow: 5px 5px 8px var(--dark-grey);
  }
}

.main > img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
  flex: 1 0 0;
}

.content-infos {
  display: flex;
  flex-direction: column;
}

.poste {
  margin-bottom: 20px;
}

.lieu {
  margin-bottom: 10px;
}

.gras {
  font-weight: bold;
}

button {
  align-self: center;
}
