.modal {
  width: 100vw;
  height: 100dvh;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px) brightness(60%);
  top: 0;
  left: 0;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100px;
  flex-direction: column;
  background: #C0C0C0;
}

.mode-paysage-haut {
  display: flex;
}

.mode-paysage-bas {
  display: none;
}

@media (max-height: 500px) and (pointer: coarse) {

  .mode-paysage-haut {
    display: none;
  }

  .mode-paysage-bas {
    display: flex;
  }

}
