@if (afficherModalExperience()) {
  <div [@afficherModal] class="modal" (click)="fermerModal($event)">
    <app-modal-experience
      [(experiences_texte)]="experiences_texte"
      [(youtubeVideosArray)]="youtubeVideosArray"
      [(experienceId)]="experienceSelectionnee"
      [(afficherModalExperience)]="afficherModalExperience">
    </app-modal-experience>
  </div>
}
@if (afficherMentionsLegales()) {
  <div [@afficherModal] class="modal" (click)="fermerModal($event)">
    <app-mentions-legales
      [(afficherMentionsLegales)]="afficherMentionsLegales">
    </app-mentions-legales>
  </div>
}
<app-intro
  [@openCloseIntro]="description ? 'open' : 'close'"
  [@openIntroDebut]>
</app-intro>
<app-onglet-intro
  class="mode-height-500"
  [(openClose)]="description"
  [@openCloseOngletIntro]="description ? 'open' : 'close'"
  [@openOngletIntroDebut]>
</app-onglet-intro>
<main>
  <div class="content mode-paysage-haut">
    <app-competences
      [(openVolet)]="competences"
      [@openCloseVolets]="competences() ? 'openCompetences' : 'closeCompetences'"
      [@openCompetencesDebut]
      (click)="openVolets('competences')">
    </app-competences>
    <app-experiences
      [(experienceSelectionnee)]="experienceSelectionnee"
      [(afficherModalExperience)]="afficherModalExperience"
      [(sensFlecheHaut)] = "sensFlecheExperiencesHaut"
      [(openVolet)]="experiences"
      [@openCloseVolets]="experiences() ? 'openExperiences' : 'closeExperiences'"
      (click)="openVolets('experiences')">
    </app-experiences>
    <app-divers
      [(afficherMentionsLegales)]="afficherMentionsLegales"
      [(openVolet)]="divers"
      (click)="openVolets('divers')">
    </app-divers>
  </div>
  <div class="content mode-paysage-bas">
    <app-competences></app-competences>
    <app-experiences
      [(experienceSelectionnee)]="experienceSelectionnee"
      [(afficherModalExperience)]="afficherModalExperience">
    </app-experiences>
    <app-divers
      [(afficherMentionsLegales)]="afficherMentionsLegales">
    </app-divers>
  </div>
</main>
