.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  user-select: none;
  &:active {
    -webkit-tap-highlight-color: transparent;
  }
}

.titre-transition {
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: letter-spacing 500ms ease-in;
  &:hover {
    letter-spacing: 0;
  }
}

.titre {
  width: fit-content;
  padding: 2px 16px;
  border-radius: 14px;
}

@media (max-height: 500px) and (pointer: coarse) {
  img {
    display: none;
  }
}
