@font-face {
  font-family: "Novecentosanswide-DemiBold";
  src:
    url("/fonts/Novecentosanswide-DemiBold.otf")
}

@font-face {
  font-family: "Garet-Book";
  src:
    url("/fonts/Garet-Book.otf")
}

body {
  background: #C0C0C0;
  font-family: "Garet-Book";
  font-size: 10pt;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  scrollbar-color: var(--tertiary-color) transparent;

  --primary-color: #f9fbf1;
  --secondary-color: #000;
  --tertiary-color: #b7bf96;
  --alert-color: #d82b2b;
  --dark-grey: #9e9e9e;
  --light-grey: #cacaca;

  --hauteurIntro: 180px;
  --hauteurExperiences: 90px;
  --hauteurCompetences: 110px;
}

h1 {
  font-family: "Novecentosanswide-DemiBold";
  font-size: 24pt;
  margin: 0;
}

h2 {
  font-family: "Garet-Book";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 11pt;
  margin: 0;
}

h3 {
    font-family: "Novecentosanswide-DemiBold";
    margin: 0;
}

h4 {
  font-family: "Novecentosanswide-DemiBold";
  font-size: 13pt;
  text-decoration: underline;
  margin-top: 0;
  text-align: center;
}

h5 {
  font-size: 11pt;
  text-align: center;
}

a:link {
  color: #42b0f5;
}

a:visited {
  color: #d442f5;
}

@media (max-width: 768px) {
  body {
    font-size: 0.83em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.9em;
  }
}
